body
{
  background-color: yellow;
  font-size:400%;
  color:white;
  box-shadow:black -10px 15px;
  text-align:center;
}
nav{
  margin:25px;
}
li a{
  list-style:none;
  padding 15px;
  text-decoration:none;
}
