body
{
  background-color: green;
}
div{
  font-size:300%;
  font-color:white;
  box-shadow:black -10px 15px;
  text-align:center;
}
nav{
  margin:25px;
}
li a{
  list-style:none;
  padding 15px;
  text-decoration:none;
}

#home{
  font-color:white;
}

#about{
  font-color:white;
}

#projects{
  font-color:white;
}

#Skill Sets{
  font-color:white;
  list-style:none;
  text-decoration:none;
  padding 15px;
}
